<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Mess Buddy</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                
                <li><a href="{{ url_for('complaints') }}">Complaints</a></li>
                <li><a href="{{ url_for('rebate') }}">Rebate Form</a></li>
            </ul>
        </nav>
    

    </header>
    <main>
        {% block content %} {% endblock %}
        <img src="{{ url_for('static', filename='images/menu.png') }}" alt="menu"
    </main>
    <footer>Made in ❣️ with Cicada</footer>
    <script>
        
    </script>
</body>
</html>
