{% extends 'base.html' %}
{% block content %}
<body class = "rebate">
     <div class = "main_content">
    <h2 class = "cen">Mess Rebate Form</h2>
    <form method="POST">
        <label for="student_id">Student ID</label>
        <input type="number" id="student_id" name="student_id" required>

        <label for="reason">Reason for Rebate</label>
        <textarea id="reason" name="reason" required></textarea>

        <button type="submit">Submit</button>
    </form>

    </div>
    <img src="{{ url_for('static', filename='images/rebate.jpeg') }}"  class = "rebate_image"alt="rebate Image">
</body>    
{% endblock %}